{% extends "_base.twig" %}
{% set back = '/index.php/admin' %}
{% block content %}
                  <div ng-controller="teamsCtrl">

                	  <div>
                      <h3>Teams</h3>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Team Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="team in teamsList">
                            <td ng-bind="team.Name"></td>
                            <td>
                              <button class="btn btn-default" ng-click="editTeam(team.id)">
                                <span class="glyphicon glyphicon-pencil"></span>  Edit
                              </button>
                              <button class="btn btn-default" ng-click="deleteTeam(team.id)">
                                <span class="glyphicon glyphicon-remove"></span>  Delete
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <button ng-show="teamsMode != 'new'" class="btn btn-default" ng-click="newTeam()"><span class="glyphicon glyphicon-plus-sign"></span>  Add New Team</button><br /><br />

                      <div ng-cloak ng-show="teamsMode == 'new'">
                        <h4>New Team</h4>
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Team:</label>
                            <div class="col-sm-10">
                              <input class="form-control" type="text" ng-model="teamText" placeholder="Enter Name Here" />
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button class="btn btn-primary" ng-click="addTeam()" type="submit">Add</button>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div ng-cloak ng-show="teamsMode == 'update'">
                        <h4>Update Team</h4>
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Team:</label>
                            <div class="col-sm-10">
                              <input  class="form-control" type="text" ng-model="teamText" placeholder="Enter Name Here">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button class="btn btn-primary" ng-click="updateTeam()" type="submit">Update</button>
                            </div>
                          </div>
                        </form>
                      </div>

                    </div>

				          </div>
{% endblock %}

{% block ajs_include %}

<script src="/js/services/httpPost.js"></script>
<script src="/js/services/teams.js"></script>
{% endblock %}

{% block script %}

app.controller("teamsCtrl", function($scope, Teams) {

  var Teams = new Teams();
  
  $scope.init = function() {

		$scope.teamsMode = 'default';

    $scope.clear();

		$scope.loadTeams();
	}

  $scope.clear = function() {
    $scope.teamText = "";
    $scope.teamId = "";
  }

	$scope.loadTeams = function() {
    Teams.load()
      .then(function() {
        $scope.teamsList = Teams.list;

      });
  }

  $scope.newTeam = function() {
    $scope.clear();

    $scope.teamsMode = 'new';
  }

  $scope.addTeam = function() {
    Teams.addTeam($scope.teamText)
      .success(function(response) {
        $scope.init();
      });
  }

  $scope.updateTeam = function() {
    Teams.updateTeam($scope.teamId, $scope.teamText)
      .success(function(response) {
        $scope.init();
      });
  }

  $scope.editTeam = function(id) {
    $scope.clear();

    Teams.getTeam(id)
      .success(function(response) {
        $scope.teamText = response.Name;
        $scope.teamId = response.id;

        $scope.teamsMode = 'update';
      });
  }

  $scope.deleteTeam = function(id) {

    Teams.deleteTeam(id)
      .success(function(response) {
        $scope.init();
      });
  }

  $scope.init();
});

{% endblock %}
